# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.venv/
.env/

# Robot Framework
Results/*
!Results/.gitkeep
*.png
*.xml
*.html
*.js

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
